* {
  box-sizing: border-box;
}

html {
    line-height: 1.15;
}

.recipeDetails {
  width: 80%;
  padding: 2%;
  background-color: rgb(255,226,205);
}

.recipeImage {
  width: 100%;
  float: none;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  /*border: 5px solid #f1f1f1;*/
  /*border-radius: 3px;*/
  /*float: right;*/
}

.recipeLink{
  clear: both;
  overflow-wrap: break-word;
}

.navbar {
    background-color: #6D8203;
    min-height: 70px;
    position: fixed;
    width: 100%;
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    color: #fff;
    font-size: calc(10px + 14 * (100vw - 320px)/ 800);
    z-index: 99;
    white-space: nowrap;
    padding: 0;
    padding-left: 1%;
    padding-right: 1%;
}

.header {
    
    background-color: #B4A796;
    /*min-height: 300px;*/
    padding: 130px 20px;
    padding-bottom: 0px;
    /*text-align: center;*/
    /*margin-bottom: 2%;*/
}

.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 600px) {
  /*.instructionPara { float: right;}*/
  .recipeImage {
    float: right; 
    width: 40%;
    margin: 2%;
  }
}
